@font-face {
    font-family:"yoster";
    src: url(/fonts/yoster.ttf);
}
@font-face {
    font-family:"000webfont";
    src: url(/fonts/000webfont.ttf);
}
body{
    background-image: url(/images/stars.gif);
    color: white;
    font-size: 26px;
}
#container1{
    text-align: center;
    font-family: "yoster";
    width: 420px;
    margin: 0 auto;
}
#videoandbuttons{
    width: 420px;
    margin: 120px auto;
}
#maintext{
    text-align: center;
    width: 480px;
    margin:-75px auto;
    margin-bottom: 25px;
    font-family: "000webfont";
    font-size: 22px;
    color: white;
}
#leftsidebar{
    position: absolute;
    width: 150px;
    top: 0;
    font-family: "000webfont";
    font-size: 18px;
    color: #ba71ff;
}
a {
    color: #ba71ff;
}
#eva{
    position: absolute;
    top: 0;
    right: 0;
}
#kirby{
    position: fixed;
    bottom: 0;
}
#contact{
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 5px;
    font-family: "000webfont";
    color: #ba71ff;
}